.footer-container {
  background-color: #0c1226;
  height: 400px;
}

.footer-style {
  color: #f3e0be;
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 688px) {
  .footer-container {
    height: 1212px;
  }
}

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .footer-container {
    height: 500px;
  }
}
